<!doctype html>
<title>Stock Data Lookup</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_lulu.css')}}'>
<div class=page>
  <h1>Stock Data Lookup</h1>
  <div class=metanav>

    <h4>
      Enter ticker symbol to display stock closing prices from the past 30 days.
    </h4>

    <form id='tickerform' method='post' action='index' >
      <p>
    Ticker symbol: <input type='text' name='ticker' />
      </p>
      <p>
    <input type='submit' value='Submit' />
      </p>
    </form>

  </div>
</div>
</html>